RewriteEngine On
RewriteRule ^application/media/(.+)$ /static/media/$1 [L]
RewriteRule ^application/site_media/(.+)$ /static/collected_static/$1 [L]
RewriteRule ^application/static/(.+)$ /static/collected_static/$1 [L]